<div class=" contenedorchat " >
    <br>
    <div class="col-md-12 text-center">
        <span class="titulousuarios">USERS ONLINE</span>
    </div>
    <br>
    <div class="container-fluid chat-window" style="background:white; color: black;border-radius:5px 5px 5px 5px;">
        <div class="main-container app-mensajes" id="app-mensajes">
            <!--<div *ngFor="let chat of _cs.chats">
                    <div [ngClass]="{'text-right ':_cs.usuario.uid != chat.uid }">
                        <span class="badge" style="font-size:10px;font-family:tahoma;" [ngClass]="{'badge-primary':_cs.usuario.uid == chat.uid,
                                      'badge-success':_cs.usuario.uid != chat.uid}">
                           {{chat.nombre | slice:0:26 }}
                         </span>
                    </div>

                    <span style="font-size:9px;color:gray"> dice:[{{chat.fecha | date:'medium'}}]</span><br>
                    <span> {{chat.mensaje}} </span>
                </div>-->
            <!-- <ul>
                 <li class="text" *ngFor="let item of items | async">
                   {{item.mensaje}}
                 </li>
               </ul>
               <div class="text-right">
                  <span class="badge badge-success">User</span>

               </div>-->
            <div class="text-right">
                <!--<span class="badge badge-success">User</span>-->
                <h6  class="badge badge-success">{{this.usuario}}</h6>

            </div>
        </div>

    </div>

    <!--<div class=" container-fluid text-center" style="margin-top:10px;">
        <input id="btn-input" type="text" class="form-control inputchat" name="mensaje" (KeyUp.enter)="enviarmensaje()" placeholder="Send message..." />
        <br>
    </div>-->
    <br>
    <br>
</div>