<div class=" contenedorciudades" style="width:100%;">
    <div class="col-md-12 text-center" style="margin:auto;color:white;">
        <span>COUNTRY/CITIES</span>
    </div>
    <div class="container-fluid cities-window" style="">
        <div class="app-paises">
            <div class="text-center p-1" *ngFor=" let paises of data; let i = index">
                <div class="card text-center m-auto p-1" style="width: 11rem;">
                    <div class="container">
                        <img src="{{paises.flag}}" width="75" height="50" alt="...">
                    </div>
                    <div class="card-body">
                        <h6 class="card-text">{{paises.name}} </h6>
                        <div class="text-left">
                            <span class="card-text">Capital: {{paises.capital}} </span><br>
                            <span class="card-text">Code: {{paises.alpha2Code}} </span><br>
                            <span class="card-text">Region: {{paises.region}} </span><br>
                            <span class="card-text">Sub-Region: {{paises.subregion}} </span><br>
                            <span class="card-text">Lat: {{paises.latlng[0]|number:'1.2-2'}} </span>
                            <span class="card-text">Lon: {{paises.latlng[1]|number:'1.2-2'}} </span>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
    <br>
    <div class="container text-center">
        <input id="btn-input" type="text" class="form-control-medium" name="mensaje" (KeyUp.enter)="enviarmensaje()" placeholder="Search City... " />

    </div>
</div>