<div class="fondomain  animated fast fadeIn">
    <div class="row col-12 d-flex justify-content-center p-5">
       
        <div class="col-md-4 col-sm-12" >
            <div class="container" style="height:auto;">
                <h3>Support Database</h3>
                <p class="lead">This is the access module to modify the database, authorization is required ...</p>
                <div class="container" style="width:auto;height:auto;">
                    <!--"background-image:url('../../assets/img/fondomail.jpg'); background-size:contain;-->
                    <div class="row">
                        <div class="col-md-6">
                            <button (click)="newflight()" type="button" class="btn btn-primary btn-block">CRUD Records</button>
                        </div>

                        <div class="col-md-6">
                            <button (click)="exportaMasivo()" type="button" class="btn btn-success btn-block" name="button">Upload Flights</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>