<div class="container">
        <div class="col-md-12  col-sm-12 text-right" style="height:auto;">
                <button (click)="crearExcel()" type="button" class="btn btn-large" style="opacity:0.90;">
                    <img src="../../../assets/img/excel.png" class="rounded" title="Descargar en Excel" width="75" height="35">
                </button>
           
                <button (click)="enviarPrinter()" type="button" class="btn btn-large" style="opacity:0.90;">
                    <img src="../../../assets/img/print.png" class="rounded" title="Enviar Resultados" width="75" height="35"> 
                </button>
        </div>
    
</div>      

